<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>web.home.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetails</servlet-name>
        <servlet-class>web.home.speaker.AccountDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetails</servlet-name>
        <servlet-class>web.home.speaker.EventDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetailsView</servlet-name>
        <servlet-class>web.home.speaker.EventDetailsView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMcq</servlet-name>
        <servlet-class>web.home.speaker.mcq.AddMcq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>web.home.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpeakerLogin</servlet-name>
        <servlet-class>web.home.SpeakerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeminarDetails</servlet-name>
        <servlet-class>web.home.student.SeminarDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDetails</servlet-name>
        <servlet-class>web.home.student.LoginDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>web.home.student.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>web.home.student.Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteCount</servlet-name>
        <servlet-class>web.home.student.VoteCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegister</servlet-name>
        <servlet-class>web.home.StudentRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedback</servlet-name>
        <servlet-class>web.home.student.AddFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedback</servlet-name>
        <servlet-class>web.home.student.ViewFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllMcq</servlet-name>
        <servlet-class>web.home.speaker.mcq.ViewAllMcq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMcqPageView</servlet-name>
        <servlet-class>web.home.speaker.mcq.UpdateMcqPageView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMcq</servlet-name>
        <servlet-class>web.home.speaker.mcq.UpdateMcq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackSpeaker</servlet-name>
        <servlet-class>web.home.speaker.FeedbackSpeaker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMcq</servlet-name>
        <servlet-class>web.home.student.ViewMcq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerMcq</servlet-name>
        <servlet-class>web.home.student.AnswerMcq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAnswer</servlet-name>
        <servlet-class>web.home.student.SaveAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mcqResult</servlet-name>
        <servlet-class>web.home.speaker.mcqResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteSpeaker</servlet-name>
        <servlet-class>web.home.speaker.VoteSpeaker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetails</servlet-name>
        <url-pattern>/AccountDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetails</servlet-name>
        <url-pattern>/EventDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetailsView</servlet-name>
        <url-pattern>/EventDetailsView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMcq</servlet-name>
        <url-pattern>/AddMcq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpeakerLogin</servlet-name>
        <url-pattern>/SpeakerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeminarDetails</servlet-name>
        <url-pattern>/SeminarDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDetails</servlet-name>
        <url-pattern>/LoginDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteCount</servlet-name>
        <url-pattern>/VoteCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegister</servlet-name>
        <url-pattern>/StudentRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedback</servlet-name>
        <url-pattern>/AddFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedback</servlet-name>
        <url-pattern>/ViewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllMcq</servlet-name>
        <url-pattern>/ViewAllMcq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMcqPageView</servlet-name>
        <url-pattern>/UpdateMcqPageView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMcq</servlet-name>
        <url-pattern>/UpdateMcq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackSpeaker</servlet-name>
        <url-pattern>/FeedbackSpeaker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMcq</servlet-name>
        <url-pattern>/ViewMcq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerMcq</servlet-name>
        <url-pattern>/AnswerMcq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAnswer</servlet-name>
        <url-pattern>/SaveAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mcqResult</servlet-name>
        <url-pattern>/mcqResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteSpeaker</servlet-name>
        <url-pattern>/VoteSpeaker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
